---
title: Release Notes for Cloud Service Broker for Azure
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

This topic describes the changes in this minor release of <%= vars.product_full %>.

##<a id="1-5-0"></a> v1.5.0

**Release Date:** MMMM DD, YYYY

### Features

New features and changes in this release:

- **Run-in heading:** Description.
- **Run-in heading:** Description.

### Resolved Issues

This release has the following fixes:

<%= partial vars.path_to_partials + '/csb/timeout-resolved' %>

### Known Issues

This release has the following issues:

* **RUN-IN HEADING:** DESCRIPTION
* **RUN-IN HEADING:** DESCRIPTION

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
