---
title: Release Notes for Cloud Service Broker for Azure
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

This topic describes the changes in this minor release of <%= vars.product_full %>
(<%= vars.product_short %>).

##<a id="1-9-0"></a> v1.9.0

**Release Date:** June 6, 2024

### Breaking Changes

This release has no breaking changes.

### Features

New features and changes in this release:

- **Retirement of Azure MySQL and PostgreSQL single server offerings:**
    Azure Database for MySQL - Single Server is on the retirement path and is scheduled for retirement by September 16, 2024.
    Azure Database for PostgreSQL - Single Server is on the retirement path and is scheduled for retirement by March 28, 2025.
    These service offerings are now marked as retired in their marketplace description. 
    After the above dates customers will not be able to create or manage the single server offerings.
    VMware strongly recommends not creating any new instances with this service.
    For more information about the retirement, see the [PostgreSQL Microsoft documentation](https://learn.microsoft.com/en-gb/azure/postgresql/single-server/whats-happening-to-postgresql-single-server) and 
    [MySQL Microsoft documentation](https://learn.microsoft.com/en-gb/azure/mysql/single-server/whats-happening-to-mysql-single-server).

- **Exposing PostgreSQL Flexible Server:** The Azure PostgreSQL Flexible Server offering is now available and can be used when creating new PostgreSQL instances instead of using the retired PostgreSQL Single Server offering.
    This offering does not come with brokerpak plans, and VMware recommends you create your own custom plan in the tile configuration. [Learn more about the plan configuration parameters](reference/azure-postgresql-flexible-server.html.md.erb#plans-config).
    A new set of properties enable the configuration of the service instance. [Learn more about the service instance configuration parameters](reference/azure-postgresql-flexible-server.html.md.erb#parameters).


### Resolved Issues

No resolved issues in this release.

### Known Issues

No known issues in this release.

## <a id="view"></a> View Release Notes for another Version

To view the release notes for another product version, select the version from
the drop-down menu at the top of this page.
