---
title: Release Notes for Cloud Service Broker for Azure
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_short %>.

##<a id="1-2-0"></a> v1.2.0

**Release Date:** October 04, 2021

### Features
New features and changes in this release:

* **Support encryption of sensitive data:** Sensitive data provided or genearated during provisioning and binding and stored in the state DB can now be encrypted. A key generated from the provided password is used for this purpose. For more details on how to configure it see <a href="installing-with-azure.html#state-db">Configure a State Database</a> and <a href="installing-with-azure.html#rotate-password">Rotate Passwords</a>.
* **Support for Private Endpoints in MongoDB:** Creating Private Endpoints during the provisioning of MongoDB instances is now supported. See [pull request #103](https://github.com/cloudfoundry-incubator/csb-brokerpak-azure/pull/103) in GitHub.
* **`azurerm_mssql_database` - Databases smaller then 1GB can be subsumed:** Subsume is now supported for MSSQL databases less then 1GB. 

### Resolved Issues
This release has the following fixes:

* **Use restricted user to connect to Credhub:** The broker will use `cf.uaa.services_credhub_credentials` instead of `cf.uaa.credhub_admin_client_client_credentials` to communicate to Credhub. The new credentials have restriced access.
* **Update optional mini plans:** `mini` plans for `csb-azure-eventhubs`, `csb-azure-mssql` and `csb-azure-mssql-db-failover-group` were reusing identifiers and were not compatible with  <%= vars.app_runtime_full %> 2.11. They have been renamed to `mini-v2` and their IDs have been updated to be unique. If you were using any of these plans in the mentioned service offerings update all instances to use `mini-v2`.
* **`csb-azure-mssql-failover-group` - Users are propagated to secondary DB:** It is no longer needed to rebind apps after a failover event.


### Known Issues
This release has the following issues:

<%= partial 'cf-update-ki'  %>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
