---
title: Release notes for Cloud Service Broker for Azure
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

This topic describes the changes in this minor release of <%= vars.product_full %>
(<%= vars.product_short %>).

##<a id="1-8-0"></a> v1.8.0

**Release date:** mmmm dd, 2024

### Breaking changes

This release has the following breaking changes:



- **Run-in header:** Description.
- **Run-in header:** Description.

### Features

New features and changes in this release:

#### General



### Resolved issues

This release has the following fixes:



- **The field 'unique' is not valid for _id index specification**

  Newer versions of Azure Cosmos DB for MongoDB automatically indexes the `_id` field and the `shard_key`.  
  See [Azure Cosmos DB Indexing for MongoDB server version 3.6 and higher](https://learn.microsoft.com/en-us/azure/cosmos-db/mongodb/indexing#indexing-for-mongodb-server-version-36-and-higher)

  Cloud Service Broker for Azure did this transparently for the user too.  
  So now, Azure Cosmos DB for MongoDB errors when trying to "duplicate" any of these indexes.  
  To maintain backward compatibility, Cloud Service Broker for Azure will keep indexing these fields by default

  However, we have exposed two new fields to allow bypassing this issue and also to improve the UX of this service:
  - A new property `indexes` can be added to your plans or passed at service creation time.  
    It expects a comma-separated list of non-unique indexes you want to have in your collection.
  - A new property `unique_indexes` can be added to your plans or passed at service creation time.  
    It expects a comma-separated list of unique indexes you want to have in your collection.

### Known issues

This release has the following issues:

- **Run-in header:** Description.
- **Run-in header:** Description.

## <a id="view"></a> View release notes for another version

To view the release notes for another product version, select the version from
the drop-down menu at the top of this page.
