---
title: Release Notes for Cloud Service Broker for Azure
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

##<a id="1-3-0"></a> v1.3.0

**Release Date:** August 02, 2022


### Features

New features and changes in this release:

* **The internal Terraform version has been upgraded to v1.1:** this update will
allow the product to make use of new features in Azure. All service instances will
need to be upgraded. See [Upgrading Cloud Service Broker for Azure](upgrading.html).
Also refer to the [Known Issues](upgrading.html#known-issues)

### Known Issues

This release has the following issues:

* **Incompatable changes upgrading some services from some versions:** refer to
  the [Known Issues](upgrading.html#known-issues) as not all services can be upgraded
  from previous versions.


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
