---
title: Release Notes for Cloud Service Broker for Azure
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

## <a id="1-3-1"></a> v1.3.1

**Release Date:** 08 November 2022

### Resolved issues

This release has the following fixes:

* **Service offering logos now show up in Apps Manager:**
  Previously when provisioning services through Apps Manager, service logos did not appear.
  This made it difficult to identify the offering from similar ones installed on the platform.
  Service offerings now display a generic Tanzu logo.

* **Fixed issue with limits to environment variables length when installing the tile:**
  In previous versions, the broker deployed by the tile was configured through environment variables.
  This caused environments with lengthy configurations to hit a limit on the size of environment variables.
  From this version, the tile uses a configuration file written during the deployment process that
  overcomes such limits. No action is needed.

* **Fixed issue with upgrading Azure SQL Failover DB Group instances that had `existing` property set to `true`:**
  When an Azure SQL Failover DB Group instance was created with the property `existing` set to `true`
  the upgrade process failed because it attempted to import values that were never set.
  The upgrade now succeeds and there are no attempts to import values.

* **MSSQL Run Failover service client secret parameter is no longer exposed on error:**
  `csb-azure-mssql-fog-run-failover` is no longer exposed.
  The value of the client secret is considered a sensible field. Its value is not logged in plain text.

* ***MSSQL Run Failover service parameters validation is more flexible:**
  `csb-azure-mssql-fog-run-failover` is more flexible.
  Previously, the validation of the parameters was carried out in a more restrictive way, demanding
  rigidity of the admitted values.
  With this change, the main validation is on the supplier side, and there is only a check if the
  field is empty.

### Known issues

This release has the following issue:

* **Values containing single ticks break broker configuration:**
  If the tile provided value contains `'`, <%= vars.product_full %> cannot parse the generated broker
  configuration.
  To prevent this issue, replace the wrapping `'` with YAML multiline notation.

## <a id="1-3-0"></a> v1.3.0

**Release Date:** 05 August 2022

### Features

New features and changes in this release:

* **The internal Terraform was upgraded to v1.1:**
  Terraform v1.1 enables the product to make use of new features in Azure.
  All service instances must be upgraded. For more information, see
  [Upgrading Cloud Service Broker for Azure](upgrading.html) and
  [Issues with Upgrading Service Instances to v1.3](upgrading.html#known-issues)

### Known Issues

This release has the following issues:

* **Incompatible changes upgrading some services from some versions:**
  Some services cannot be upgraded from previous versions.
  For more information, see [Issues with Upgrading Service Instances to v1.3](upgrading.html#known-issues).

* **Failure to upgrade Azure SQL Failover DB Group instances that have `existing` property set to `true`:**
  The upgrade process attempts to import values for resources that don't exist.

* **Limits to environment variables length when installing the tile:**
  The broker deployed by the tile is configured through environment variables.
  This causes installations with several plans or other lengthy configurations to hit a limit on the
  size of environment variables in the platform.
  This limit prevents the broker app from starting, which causes the deployment to fail.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from drop-down menu at the
top of this page.
