---
title: Release Notes for Cloud Service Broker for Azure
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

## <a id="1-3-0"></a> v1.3.0

**Release Date:** August 2, 2022

### Features

New features and changes in this release:

* **The internal Terraform was upgraded to v1.1:** Terraform v1.1 enables the product to make use of
   new features in Azure. All service instances must be upgraded. For more information, see
   [Upgrading Cloud Service Broker for Azure](upgrading.html) and [Known Issues with Upgrading to v1.3](upgrading.html#known-issues)

### Known Issues

This release has the following issues:

* **Incompatible changes upgrading some services from some versions:** Some services cannot be upgraded
   from previous versions. For more information, see [Known Issues](upgrading.html#known-issues).

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from drop-down menu at the
top of this page.
