---
title: Release Notes for Cloud Service Broker for Azure
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

This topic describes the changes in this minor release of <%= vars.product_full %>
(<%= vars.product_short %>).

##<a id="1-10-0"></a> v1.10.0

**Release Date:** xxxx xx, 2024

### Breaking Changes

Retirement of Azure MySQL single server offering: Azure Database for MySQL - Single Server is on the retirement path and is scheduled for retirement by September 16, 2024.
This service offering is now not offered in the marketplace. For more information about the retirement, see the
[MySQL Microsoft documentation](https://learn.microsoft.com/en-gb/azure/mysql/single-server/whats-happening-to-mysql-single-server).


### Features

- **Tofu upgraded to v1.7.2:**

  The Tofu version used to apply changes is upgraded from
  v1.6.2 to v1.7.2. You must upgrade all service instances.
  When you upgrade, ensure that you follow the [Upgrade procedure](upgrading.html#procedure).


### Resolved Issues

No resolved issues in this release.

### Known Issues

No known issues in this release.

## <a id="view"></a> View Release Notes for another Version

To view the release notes for another product version, select the version from
the drop-down menu at the top of this page.
